*{
    box-sizing: border-box;
}
.info{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.leftstep{
    background-color: white;
}



.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid blue;
    text-align: center;
    line-height: 50px;
}

.stepline{
    height: 100%;
    margin-left: 25px;
    border-left: 3px solid blue;
}

.rightStep{
    margin-left: 10px;
}
.rightStep >h4 {
    margin-top: 0;
    margin-bottom: 10px;
}
.content{
    display: flex;
    flex-direction: row;
}
.img{
    width: 100px;
    height: 80px;
    flex-shrink: 0;
}
.descinfo{
    margin-left: 10px;
}
.descinfo>p{
    margin-top: 0;
    margin-bottom: 10px;
}
.descinfo>h6{
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 20px;
    padding-left: 4px;
    width: 100px;
    border-radius: 4px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: lightgray;
}
