*{
    box-sizing: border-box;
}
.container{
    width: 50%;
    position: absolute;
    background-color: white;
    top: 9%;
    left: 23%;
    border-radius: 8px;
    box-shadow: 0 0 20px lightgray;
    padding: 16px;
}
.container::before {
    content: "";
    width: 0; 
    height: 0; 
    position: absolute;
    top: 80px;
    left: -20px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right:20px solid white; 
    display: inline-block;
}